#Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

#FastApi
.env

#Node
node_modules/
dist/

#VSCode
.vscode/

#Logs
*.log

#SQLite
*.db

#macOS
.DS_Store

#Windows
Thumbs.db

#Docker
*.pid

#Pytest
.pytest_cache/

#Coverage
.coverage
htmlcov/

#React
build/

#Misc
.idea/